<div class="col-sm-12">
  <div class="post">
    <div class="header-wrapper card-header">
      <div>
        <h4>
          <a href="/post/{{id}}">
            {{title}}
          </a>
        </h4> 
      </div>
      <div class="meta">
        posted by
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{content}}
      </p>
      <p>
        <a href="/post/{{id}}">
          {{comments.length}}
          {{format_plural "comment" comments.length}}
        </a>
      </p>
    </div>
  </div>
</div>