<article>
  <a href="/dashboard">
    ← Back to dashboard
  </a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <input name="post-content" type="text" value="{{post.content}}" />
    </div>
    <div>
      added by you on
      {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">view 
        {{post.comments.length}}
        {{format_plural "comment" post.comments.length}}
      </a>
    </div>
    <button type="submit" class="save-post-btn">
      Update post
    </button>
    <button type="button" class="delete-post-btn">
      Delete post
    </button>
  </form>
</article>
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
{{> comments post.comments}}

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
